body {
    margin: 0;
}

.globalContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-buttons-container, .custom-arrow-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.image {
    object-fit: contain;
}

.youtube-container {
    position: absolute;
}