@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    background-image: url("https://wallpapers.com/images/hd/light-black-background-1920-x-1080-ov3r9u7u0ttpzwsv.jpg");
}

.globalContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
}

.image-container, .paragraph-container {
    display: flex;
    justify-content: center;
}

.custom-buttons-container, .custom-arrow-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.image {
    object-fit: contain;
}

.youtube-container {
    position: absolute;
}

.paragraph {
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
}

.background-music-container {
    display: flex;
    gap: 15px
}